@font-face 
{
    font-family: 'droid_sansregular';
    src: url('./activite_partie3/DroidSans-webfont.eot');
    src: url('./activite_partie3/DroidSans-webfont.eot?#iefix') format('embedded-opentype'),
         url('./activite_partie3/DroidSans-webfont.woff') format('woff'),
         url('./activite_partie3/DroidSans-webfont.ttf') format('truetype'),
         url('./activite_partie3/DroidSans-webfont.svg#droid_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

    
body
{
    
    background-image: url('greyzz.png');
}


h1, h1 , p
{
    text-align: center;
}

img
{
    float: right;
    width: 50px;
    height: auto;
    box-shadow: 2px 2px 2px black;
}

h2
{
    color: #6E4A46;
}

section
{
    display: inline-block;
    vertical-align: top;
    width: 30%;
    margin-right: 2%;
    
}

#liseret, .contenu
{
    display: inline-block;
    vertical-align: top;
}

#liseret
{   
    width: 10%;
    margin-right: 3%;
    height: 500px;
    border: black 1px solid;
    border-radius: 10px;
    background-image: url('./activite_partie3/lodyas.png');
    
}

.contenu
{
    width: 85%;
   
}
@media all and (max-width: 1024px)
{
    ::selection
    {
      display: none;      
    }
    #liseret
    {
        display: none;
    }
    #contenu
    {
        width: auto;
    }
}
