.div1
{
	float: left;
	width:400px;
	height: 400px;
    background: -webkit-radial-gradient(20% 40%, closest-side,blue 10%,purple 30%,red 66%);
	background: -o-radial-gradient(20% 40%, closest-side,blue 10%,purple 30%,red 66%);
	background: -moz-radial-gradient(20% 40%, closest-side,blue 10%,purple 30%,red 66%);
	background: radial-gradient( closest-side at 20% 40%,blue 10%,purple 30%,red 66%);
}
.div2
{

	float: right;
	width: 400px;
	height: 400px
	background: -webkit-radial-gradient(20% 40%, farthest-side,blue 10%,purple 30%,red 66%);
	background: -o-radial-gradient(20% 40%, farthest-side,blue 10%,purple 30%,red 66%);
	background: -moz-radial-gradient(20% 40%, farthest-side,blue 10%,purple 30%,red 66%);
	background: radial-gradient(farthest-side at 20% 40%, blue 10%,purple 30%,red 66%);
}
