h1
{
	text-align: center;
	text-transform: uppercase;
	text-shadow: 1px 1px 40px #444;
}
h2
{
	text-align: right;
	text-transform: lowercase;
	text-shadow:0px px 1px blue;
}
h3
{

	text-transform: capitalize;
	text-decoration: overline;
}