@font-face {
    font-family: 'ambleregular';
    src: url('Police/Amble-Regular-webfont.eot');
    src: url('Police/Amble-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('Police/Amble-Regular-webfont.woff2') format('woff2'),
         url('Police/Amble-Regular-webfont.woff') format('woff'),
         url('Police/Amble-Regular-webfont.ttf') format('truetype'),
         url('Police/Amble-Regular-webfont.svg#ambleregular') format('svg');
    font-weight: normal;
    font-style: normal;

    section h1,footer h1,nav
    {
     font-family: 'ambleregular', Arial, Arialblack;
     font-weight: normal;
     text-transform: uppercase; 
    }
img
{
	width: 70px;
	height: 70px;
}
.Bassirou
{
	width: 1000px; 
	height:500px;
}
.B-D-F
{
	width: 100px;
	height: 70px
}
body
{
	background: url('IMG/fond D.jpg');
	color:#181818;
}
#bloc_page
{
	width: 900px;
	margin:auto;
}