@font-face 
{
    font-family: 'droid_sansregular';
    src: url('./activite_partie3/DroidSans-webfont.eot');
    src: url('./activite_partie3/DroidSans-webfont.eot?#iefix') format('embedded-opentype'),
         url('./activite_partie3/DroidSans-webfont.woff') format('woff'),
         url('./activite_partie3/DroidSans-webfont.ttf') format('truetype'),
         url('./activite_partie3/DroidSans-webfont.svg#droid_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
header,nav,footer
{
font-family: 'droid_sansregular', 'Arial', sans-serif;
}
    
body
{
    
    background-image: url('greyzz.png');
}


h1, h1 , p
{
    text-align: center;
}

img
{
    float: right;
    
    box-shadow: 2px 2px 2px black;
}

h2
{
    color: #6E4A46;
}

section
{
    display: inline-block;
    vertical-align: top;
    width: 30%;
    margin-right: 2%;
}

#liseret, .contenu
{
    display: inline-block;
    vertical-align: top;
}

#liseret
{   
    width: 10%;
    margin-right: 3%;
    height: 500px;
    border: 1px solid black;
  
    border-radius: 10px;
}

.contenu
{
    width: 85%;
    background-image: url('lodyas.png');
}